.wrapper{
    
    width: 90%;
    height: auto;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-right: 20px;
}
.imageDiv{
  padding:  30px 30px;
  border: 1px solid red;
  margin: 15px;
  border-radius: 15px;

}
.content{
  display: flex;
  justify-content: space-between;
}

.image{
  width: 100%;
  max-width: 300px;
  height: 200px;
 }

.title{
  text-transform: capitalize;
  font-weight: bold;

}
.price{
  font-weight: bold;
}